@import "mixin";

input {
  @include ctrlStyle();
  padding-right: 32px;
}
.fa-search {
  position: absolute;
  left: 390px;
  top: 6px;
  color: getColor($colors, "secondary");
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 12px;
  row-gap: 12px;
  padding: 8px;
}

// Cards
.c-header {
  font-weight: bold;
}
.c-content {
  text-align: justify;
}

.c-info {
  display: grid;
  grid-template-columns: 100px auto;
  align-items: center;
  .c-likes {
    font-size: 18px;
    color: getColor($colors, "primary");
    cursor: pointer;
    i {
      margin-right: 8px;
    }
  }
  .c-tag {
    display: grid;
    grid-template-columns: repeat(auto-fill, 128px);
    column-gap: 8px;
    row-gap: 8px;
    justify-content: end;
    cursor: pointer;
    div {
      background: #a8a8a8;
      color: white;
      text-align: center;
      text-transform: uppercase;
      padding: 4px 8px;
      border-radius: 4px;
      font-size: 14px;
    }
  }
}
