@import "mixin";

:host {
  display: grid;
  height: 100vh;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("src/assets/login-img.jpg") no-repeat center;
  background-size: cover;
  z-index: -1;
}
